<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <form>
            <input type="text" placeholder="ketikkan kata kunci" v-model:value="searchValue">
            <ul>
                <li v-for="book in searchResult">
                    <a>{{ book }}</a>
                </li>
            </ul>    
        </form>        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>
    var vm = new Vue({
        el: '#app',
        data: {
            searchValue : '',
            books : [
                'Kalkulus Dasar',
                'Fisika Dasar',
                'Aljabar Linier Elementer',
                'Aljabar Abstrak',
                'Algoritma Pemrograman'
            ]
        },
        computed : {
            searchResult() {
            let tempBooks = this.books
            
            if (this.searchValue != '' && this.searchValue) {
                    tempBooks = tempBooks.filter((item) => {
                    return item.toLowerCase().includes(this.searchValue.toLowerCase())
                    })
                }
                return tempBooks
            },
        }
    })
    </script>
</body>
</html>