<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form {
            border: 1px solid #ddd;
            padding: 5px;
            width: 225px;
            background: #efefef;
        }
        label {
            display: block;
            margin-top: 5px;
        }
        input, textarea, select, option {
            min-width: 200px;
        }
    </style>
</head>
<body>
    <div id="app">
        <form @submit.prevent="submitForm()">
            <p v-if="errors.length">
                <b>Please correct the following errors:</b>
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </p>
            <label>Title:</label>
            <input type="text" name="title" ref="title" v-model="title">
            <label>Description:</label>
            <textarea name="description" ref="description" v-model="description"></textarea>
            <input type="submit" value="SUBMIT">
        </form>

        <br><br>

        <table border="1">
            <tr>
                <td>
                    <img width=100 src="https://dummyimage.com/16:9x1080" alt="">
                </td>
                <td>
                    <b>Title: </b>"Ini judul 1" <br>
                    <b>Description: </b>"Ini deskripsi 1" <br>
                </td>
                <td>
                    <button>Edit</button>
                    <button>Hapus</button>
                    <button>Upload Foto</button>
                </td>
            </tr>
        </table>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
    <script>
        var vm = new Vue({
        el: '#app',
        data: {
            title : '',
            description : '',
            errors : [],
            blogs : []
        },
        methods: {
            submitForm : function() {
                this.errors = []

                if (this.title.length < 5){
                    this.errors.push('Title minimal 5 karakter')
                    this.$refs.title.focus()
                }

                if (this.description.length > 10){
                    this.errors.push('Description tidak boleh lebih dari 10 karakter')
                    this.$refs.description.focus()
                }

                if (this.errors.length === 0){
                    alert('Terima kasih Anda telah mengisi data dengan benar')
                }
            },

            getBlogs: function(){
                const config = {
                    method : "get",
                    url : "http://localhost:8000/api/blog"
                }

                axios(config)
                    .then( (response) => {
                        
                        this.blogs = response.data.blogs
                    })
                    .catch( (error) => {
                        console.log(error)
                    })
            },

            created() {
                this.getBlogs()
            }
        }
    })
    </script>

</body>
</html>