<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz 5</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <div id="app">
        <input type="text" v-model:value="nameInput" />
        <button id="addButton" @click="addUser">add</button>
        <button id="updateButton" @click="updateUser(tempUser.userIndex)">update</button>
        <ul>
            <li v-for="(user, index) in userList">
                <p>{{ user.name }} <button class @click="editUser(user.name, index)">edit</button> || <button @click="deleteUser(user)">delete</button></p>
            </li>
        </ul>
      </div>
    
      <script>
        document.getElementById("updateButton").style.display='none';
        var app = new Vue({
          el: "#app",
          data: {
            nameInput: "",
            userList: [
                {
                    'name' : 'Muhammad Iqbal Mubarok',
                },
                {
                    'name' : 'Ruby Purwanti',
                },
                {
                    'name' : 'Faqih Muhammad',
                },
            ],
            tempUser:
            {
                'userIndex' : ""
            }  
          },
          
          methods: {
                addUser: function(){
                    this.userList.push({'name' : this.nameInput});
                    this.nameInput = "";
                },
                editUser(username, index){
                    // alert(index)
                    this.nameInput = username;
                    document.getElementById("addButton").style.display='none';
                    document.getElementById("updateButton").style.display='inline';
                    this.tempUser.userIndex = index;
                },
                updateUser(index){
                    // alert(index)
                    this.userList.splice(index, 1, {'name': this.nameInput});
                    document.getElementById("addButton").style.display='inline';
                    document.getElementById("updateButton").style.display='none';
                },
                deleteUser: function(item){
                if (confirm("Apakah akan menghapus data?")) {
                    this.userList.splice(this.userList.indexOf(item), 1);
                }
        },
          }
        })
      </script>
    
</body>
</html>